extends layout
mixin type(id)
  .btn-group
    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      | Change it 
      span.caret
    ul.dropdown-menu
      each type in types
        li
          if type !== 'getKey'
            a(href='/type/set?id=' + id + '&type=' + type)= type  


block content
  .container
    div.toolbar
      a(class='btn btn-primary', href='/process') Process validated
    ul
      each torrent in torrents
        li(class=torrent.isValidated ? 'validated torrent' : 'torrent')
          span.name= torrent.name
          span.path= torrent.path
          span.kind.label= torrent.kind
          div
            div.type 
              span.title Type:
              if torrent.isAutotype
                span.description
                  | Assumed type is #[span.type.label.label-primary= torrent.type]
                  | with #[span=torrent.typeAccuracyPct]% accuracy
                  +type(torrent._id)
                  //a(class='btn', href='/change_type/' + torrent._id) Change
                  
              else
                span.description
                  | Validated type is #[spa.type.label= torrent.type]
                  +type(torrent._id)
            div.category
              span.title Category:
              if torrent.categoryName
                span.description Assigned category is #[span.label= torrent.categoryName]
              else  
                span.description Please assign a category
              each cat in torrent.availableCategories
                if cat === torrent.categoryName
                  a(class='btn', href='/category/set?id=' + torrent._id + '&cat=' + cat) #[b= cat]
                else
                  a(class='btn', href='/category/set?id=' + torrent._id + '&cat=' + cat)= cat
            div.confirm
              unless torrent.isValidated
                a(class='btn btn-success', href='/confirm?id=' + torrent._id) Validate
              a(class'btn', href='/del?id=' + torrent._id) Remove
